network:
  version: 2
  renderer: networkd
  ethernets:
    cluster-if:
      match:
        macaddress: {{ cluster_mac }}
      addresses:
      - {{ cluster_ip }}/{{ cluster_cidr_length }}
      routes:
      - to: default
        via: {{ cluster_gw }}
      nameservers:
        addresses: 
          {{ cluster_dns | to_nice_yaml }}

    storage-if:
      match:
        macaddress: {{ storage_mac }}
      addresses:
      - {{ storage_ip }}/{{ storage_cidr_length }}
      mtu: {{ storage_mtu }}
